.board {
  background-color: rgb(0, 80, 0);
  height: 100vh;
}

.stock {
  position: fixed;
  width: 4rem;
  height: 6rem;
  top: 4rem;
  left: 4rem;
}

.deck {
  position: fixed;
  background-color: gray;
  width: 6rem;
  height: 8rem;
  text-align: center;
}