.board {
  position: relative;
  margin: 2rem;
  background-color: rgb(220, 220, 220);
  width: 50rem;
  height: 30rem;
  border-radius: 1rem;
}

.container {
  display: flex;
  justify-content: center;
}

.cell {
  position: absolute;
  left: 22.5rem;
  top: 11rem;
  background-color: black;
  border-radius: 1.5rem;
  width: 6rem;
  height: 6rem;
}
